h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background: #FFFFFF;
  color: #757575;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.image-block {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.button {
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196F3;
}

.icon {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
}
.logo--accent {
  color: #2196F3;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 88px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__list {
    margin-right: 0;
  }
}

.site-nav__item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) {
  .site-nav__item:first-child {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .nav__item + .nav__item.tel-item {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .nav__item + .nav__item.tel-item {
    margin-left: 30px;
  }
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__link::after {
  opacity: 0;
}

.site-nav__link-current {
  position: relative;
  color: #2196F3;
}
.site-nav__link-current::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  left: 0px;
  bottom: -1px;
  opacity: 0;
}
.site-nav__link-current::after {
  opacity: 1;
}

.auth-nav__link {
  color: #212121;
  font-size: 12px;
  line-height: 1.16;
}
@media screen and (min-width: 768px) {
  .auth-nav__link {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: auto;
}
.menu-toggle:hover .icon-close, .menu-toggle:focus .icon-close {
  fill: #2196F3;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  opacity: 0;
  display: none;
  position: fixed;
  max-width: 767px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 9;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--fz-dark-color);
  text-decoration: none;
}
.mobile-link:hover, .mobile-link:focus {
  color: #2196F3;
}

.contacts-link {
  font-size: 34px;
  line-height: 1.18;
  color: #757575;
}
.contacts-link:hover, .contacts-link:focus {
  color: #2196F3;
}
@media (max-width: 480px) {
  .contacts-link {
    font-size: 24px;
  }
}

.mobile-link--blue {
  color: #2196F3;
}

.contacts-link-email {
  font-size: 24px;
}

.mobile-menu li:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-socials {
  margin-top: 64px;
  display: flex;
}
@media (max-width: 480px) {
  .mobile-socials {
    flex-wrap: wrap;
    width: 100%;
  }
}

.mobile-socials li:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.socials-link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding: 0 10px;
}
@media (max-width: 480px) {
  .socials-link {
    width: 25%;
  }
}

.socials-link--primary {
  padding-left: 0;
}

.auth-nav__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav__item:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .auth-nav__item:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.auth-nav__link {
  display: flex;
  color: #757575;
  text-decoration: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .auth-nav__link {
    padding: 0;
  }
}

.auth-nav {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    margin: 0;
    margin-left: auto;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    flex-direction: row;
  }
}

.auth-nav__icon-nav {
  --color4: currentColor;
  margin-right: 10px;
}

.slogan {
  max-width: 1600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/hero_480.jpg");
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slogan {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/hero_480_2x.jpg");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .slogan {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/hero_768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slogan {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/hero_768_2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .slogan {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/hero.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slogan {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/hero_1200.jpg");
  }
}

.slogan__title {
  color: #FFFFFF;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .slogan__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .slogan__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.slogan__button-primary {
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-top: 30px;
  padding: 10px 32px;
  border: 0 solid transparent;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.slogan__button-primary:hover, .slogan__button-primary:focus {
  background-color: #188ce8;
}

.features-heading,
.portfolio-heading {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and (min-width: 768px) {
  .features {
    padding-bottom: 0;
  }
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.cards__title {
  text-align: center;
  font-weight: 700;
  font-size: var(--fs-base);
  line-height: 1.4;
  letter-spacing: var(--ls-base);
  text-transform: uppercase;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .cards__title {
    text-align: left;
  }
}

.features__list {
  display: block;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    max-width: 1200px;
    flex-wrap: nowrap;
  }
}
.features__list .competence__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .features__list .competence__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__list .competence__item {
    width: 354px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list .competence__item {
    width: 270px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list .competence__item:first-child {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1199px) {
  .features__list .competence__item:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .features__list .competence__item:nth-child(n+3) {
    margin-bottom: 0px;
  }
}
.features__list .competence__item:last-child {
  margin-bottom: 0px;
  margin-right: 0px;
}

.features__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  margin-bottom: 10px;
  color: #757575;
  line-height: 1.71;
}
@media screen and (min-width: 1200px) {
  .features__text {
    width: 270px;
  }
}

@media screen and (min-width: 480px) {
  .features__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item:first-child {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1199px) {
  .features__item:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .features__item:nth-child(n+3) {
    margin-bottom: 0px;
  }
}
.features__item:last-child {
  margin-bottom: 0px;
  margin-right: 0px;
}

.specialization {
  display: none;
}
@media screen and (min-width: 1200px) {
  .specialization {
    display: block;
  }
}

.specialization__title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.about-us {
  display: flex;
  justify-content: center;
}

.about-us__item {
  margin-left: 30px;
  position: relative;
}
.about-us__item:first-child {
  margin-left: 0px;
}

.about-us__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translate(50%);
}

.team {
  background: 100%;
  background-color: #f5f4fa;
}

.team__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}

.team__title-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team__title {
  font-weight: bold;
  color: #000;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team__item {
  display: block;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item + .team__item {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .team__item + .team__item {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__description {
  padding: 30px 0 24px;
}
@media screen and (min-width: 1200px) {
  .team__description {
    padding: 30px 0;
  }
}

.social-links {
  margin-top: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: #afb1b8;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover, .social-links__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.social-links__icon {
  --color1: currentColor;
}

.customer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customer_content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .customer_content {
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 480px) {
  .customer_content {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.customer__item {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .customer__item {
    width: calc((100% - 30px) / 3);
    width: 50%;
    display: flex;
    justify-content: center;
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .customer__item {
    width: calc((100% - 30px) / 3);
    width: 226px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .customer__item {
    width: 170px;
  }
}
@media screen and (min-width: 1200px) {
  .customer__item {
    width: 170px;
  }
}

.customer__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__link:hover, .customer__link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}

.clients__icon {
  --color1: currentColor;
  height: 50px;
}

.customer_title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .customer_title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.site-footer {
  padding: 60px 0;
  background-color: #2F303A;
}

@media screen and (min-width: 768px) {
  .site-footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .site-footer__container {
    gap: 70px;
    align-items: baseline;
  }
}

.site-footer__nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .site-footer__nav-links {
    align-items: flex-start;
    margin: 0;
  }
}

.site-footer__logo {
  color: #FFFFFF;
}
.site-footer__logo--accent {
  color: #2196F3;
  margin-right: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.footer-contacts__item:not(:first-child) {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__item:not(:first-child) {
    margin-top: 9px;
  }
}

.footer-contacts {
  margin-top: 20px;
  display: flex;
  font-style: normal;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    text-align: left;
  }
}

.site-footer__social-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .site-footer__social-links {
    align-self: flex-start;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .site-footer__social-links {
    margin: 0;
    align-self: baseline;
  }
}

.site-footer__heading {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .site-footer__heading {
    text-align: left;
  }
}

.site-footer__social-list {
  margin-top: 20px;
}

.site-footer__social-link {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}

.site-footer__social-list {
  margin-top: 20px;
}

.site-footer__social-link {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-contacts__item:not(:first-child) {
  margin-top: 9px;
}

.footer-contacts__link {
  font-style: normal;
  text-decoration: none;
  line-height: 1.71;
  color: hsla(0deg, 0%, 100%, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196F3;
}

.footer-contacts__link--address {
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

.subscribe__title {
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

.subscribe__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 12px;
    width: 358px;
  }
}
@media screen and (max-width: 480px) {
  .subscribe__input {
    max-width: 450px;
    width: 100%;
  }
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 4px;
  margin-left: 12px;
  border: 1px solid #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin: 20px auto 0;
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    gap: 10px;
    margin: 0 0 0 20px;
  }
}

.subscribe__button--icon::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-send.svg);
  background-size: contain;
  margin-left: 10px;
}

.button-div {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .button-div {
    display: flex;
  }
}

.svg-send__icon-send {
  fill: #FFFFFF;
  margin-left: 10px;
}

.option {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .option {
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.option__item {
  margin-bottom: 15px;
  margin-left: 8px;
}
.option__item:first-child {
  margin-left: 0px;
  margin-bottom: 0;
}

.option__button {
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.option__button:hover, .option__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .card-set {
    width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.card-set__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .card-set__item {
    margin-right: 30px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    margin-right: 30px;
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item:nth-child(3n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set__item:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}
.card-set__item:last-child {
  margin-bottom: 0px;
}

.card-set__link {
  display: flex;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.42, 0, 0.58, 1);
  flex-direction: column;
}
.card-set__link:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  transform: translateY(0);
  opacity: 1;
}
.card-set__link:focus {
  transform: translateY(0);
  opacity: 1;
}

.card-set__img {
  position: relative;
  overflow: hidden;
}

.filter-about {
  color: #FFFFFF;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  margin: 0px;
}
@media screen and (max-width: 480px) {
  .filter-about {
    padding: 24px;
    font-size: 14px;
  }
}

.card-set__tabs {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  flex-grow: 1;
}

.card-set__p {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.42, 0, 0.58, 1), opacity 250ms cubic-bezier(0.42, 0, 0.58, 1), box-shadow 250ms cubic-bezier(0.42, 0, 0.58, 1);
}

.card-set__link:hover .card-set__p,
.card-set__link:focus .card-set__p {
  transform: translateY(0);
  opacity: 1;
}

.card-set__title {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.card-set__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  max-width: 450px;
  width: 100%;
  top: 50%;
  left: 50%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #000000;
  z-index: 5;
  transform: translate(-50%, -50%);
  padding: 40px 39px 40px 41px;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.btn-close:hover, .btn-close:focus {
  fill: #2196F3;
}

.close-wrap {
  width: 100%;
  height: auto;
  fill: inherit;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  text-align: left;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.input-wrap:last-of-type {
  margin-bottom: 20px;
}

.order__form .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.form__input:focus + .icon {
  fill: #2196F3;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: #2196F3;
}

.order .input-wrap:not(:last-child) {
  margin-bottom: 10px;
}

.form__text {
  display: block;
  height: 130px;
  resize: none;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-wrapper {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .checkbox-wrapper {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .checkbox-wrapper {
    align-items: center;
  }
}

.checkbox-container {
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  fill: #FFFFFF;
}

.form__checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 7;
}

.checkbox-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid #212121;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-Vector {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  fill: inherit;
}

.form__checkbox:checked ~ .checkbox-wrap {
  background-color: #2196F3;
}

.checkbox__text {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: var(--fs-base);
    line-height: 1.71;
  }
}

.checkbox__text-blue {
  color: #2196F3;
}

.form__btn {
  width: 200px;
}

.cards {
  align-items: flex-start;
  gap: 30px;
}

.card {
  width: 270px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.cards__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
}

.cards__text {
  margin-top: 10px;
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.offers {
  padding-top: 0;
}

.offers__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.offers__card {
  position: relative;
  width: 370px;
  height: 294px;
}

.offers__img {
  position: absolute;
  display: block;
  max-width: 100%;
  height: auto;
}

.offers__box {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-field-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.checkbox {
  appearance: none;
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-size: 0;
  transition: background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-position 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url(../images/icon-check.svg);
  background-size: 16px 15px;
  background-position: center;
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  user-select: none;
}

.checkbox-link {
  text-decoration: underline;
  color: #2196F3;
}

.modal__button-send {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */