h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background: $primary-bt-color;
    color: $primary-text-color;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 480px;
        margin: 0 auto;
        padding: 0 15px;
    
        @media screen and (min-width: 768px) {
            max-width: 768px;
        }
    
        @media screen and (min-width: 1200px) {
            max-width: 1200px;
        }
}

.section {
    padding: 60px 0;
    
        @media screen and (min-width: 1200px) {
            padding: 94px 0;
        }
}

.image-block {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.link {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.heading {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.button {
    font-family: inherit;
    cursor: pointer;
    text-align: center;
    color: $primary-bt-color;
    background-color: $accent-color;
}
.icon {
    transition: fill cubic-bezier(0.4, 0, 0.2, 1);
}
