.auth-nav__item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth-nav__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-text-color;
    text-decoration: none;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    color: $accent-color;
    }
}

.auth-nav {
     display: none;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.auth-nav__icon-nav {
    --color4: currentColor;
    margin-right: 10px;
}

