.site-footer__social-list {
    margin-top: 20px;
}

.site-footer__social-link {
    color: $primary-bt-color;
    background-color: rgba(255, 255, 255, 0.1);
}



.footer-contacts__item:not(:first-child) {
    margin-top: 9px;
}

.footer-contacts__link {
    font-style: normal;
    text-decoration: none;
    line-height: 1.71;
    color: $primary-phon-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    color: $accent-color;
    }
}

.footer-contacts__link--address {
    color: $primary-bt-color;
}