.subscribe {
    display: block;

    @media screen and (min-width: 768px) {
        margin: 0 auto;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
    }
}

.subscribe__title {
    color: $primary-bt-color;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.subscribe__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 50px;
    background-color: #2f303a;
    border: 1px solid $border-input;
    border-radius: 4px;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
        width: 358px;
    }

    @media screen and (max-width: 480px) {
        max-width: 450px;
        width: 100%;
    }
}

.subscribe__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: $accent-color;
    color: $primary-bt-color;
    border-radius: 4px;
    margin-left: 12px;
    border: 1px solid $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    margin: 20px auto 0;

    @media screen and (min-width: 1200px) {
        gap: 10px;
        margin: 0 0 0 20px;
    }
}

.subscribe__button--icon::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-send.svg);
    background-size: contain;
    margin-left: 10px;
}

.button-div {
    margin: 0 auto;
    align-content: center;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.svg-send__icon-send {
    fill: $primary-bt-color;
    margin-left: 10px;
}