$primary-text-color: #757575;
$title-text-color: #212121;
$title-text-color-one: #000000;
$accent-color: #2196F3;
$primary-bt-color: #FFFFFF;
$accent-color-one: #F5F4FA;
$primary-phon-color: hsla(0, 0%, 100%, 0.6);
$primary-brg-color: #2F303A;
$header-border-color: #ececec;
$list-items-gap: 30px;
$portfolio-cards-border-color: #eee;
$bg-color-gray: #f5f4fa;
$text-color-social: #afb1b8;
$bg-color-button: #188ce8;
$thumb-color: #afb1b8;
$thumb-color-hover: #2196f3;
$border-input: rgba(255, 255, 255, 0.3);
$cubic: cubic-bezier(0.42, 0, 0.58, 1);
$portfolio-cart-before: rgba(33, 150, 243, 0.9);
$modal-input: rgba(33, 33, 33, 0.2);
$foot-line: rgba(255, 255, 255, 0.1);
$line: rgba(0, 0, 0, 0.5);
$text-grey-opac: rgba(255, 255, 255, 0.6);
$text-copyright: rgba(255, 255, 255, 0.4);
$border-card: #eeeeee;
    